*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./images/interior.jpg);
    width: 100vw;
    height: 100vh;
    /*background-repeat: no-repeat;*/
    background-position: bottom;
    
    
    

}


.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: aliceblue;
    
}

.nav-logo{
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: bold;
    font-size: 25px;
}


.nav-links{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
    
    list-style: none;
    gap: 4rem;
    font-weight: bold;
    font-size: 20;
}


.main-content h1{
    font-size: 60px;
    font-weight: bold;
    margin-top: 5rem;
    margin-left: 2rem;
    color: aliceblue;
}


.main-content button{
    padding-top: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    margin-top: 1.5rem;
    margin-left: 2rem;
    border-radius: 20px;
    background-color: transparent;
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    border-color: aliceblue;
}


.card{
    display: grid;
    
    position: absolute;

    border-color: aliceblue;
    box-shadow: 0 3px 5px #000000;
    background: #cecece84;
    
}

.card-puzzle{
    font-size: 18px;
    color: aliceblue;
    font-weight: bold;
    left: 70%;
    top: 20%;
    padding: 1.5rem;
}

.card-puzzle .line{
    transform: rotate(90deg);
    top: 10rem;
    right: 4rem;
    position: absolute;
}


.card-light{
    font-size: 18px;
    color: aliceblue;
    font-weight: bold;
    left: 50%;
    padding: 1.5rem;
}

.card-light .line{
    left: 14rem;
    top: 3rem;
    position: absolute;
}



@media screen and (max-width : 768px) {
    
    .nav-links{
        display: none;
    }

    .main-content{ 
        justify-content: space-between;
        
        text-align: center;
        
    }

    .card{
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .card-light{
        margin-top: 5rem;
        margin-right: 20rem;
        padding: -5rem;
    }

    .card-light .line{
        transform: rotate(0deg);
        top: 8rem;
        margin-left: -5rem;
        position: absolute;
    }

    .card-puzzle{
        margin-top: 5rem;
        margin-right: 20rem;
        padding: -5rem;
    }
    /*.card-puzzle{
        margin-left: -10rem;
        padding: -5rem;
    }*/
/*
    .card-puzzle .line{
        transform: rotate(90deg);
        top: 10rem;
        margin-right: 5rem;
        position: relative
    }*/
}
